.button {
  cursor: pointer;
  color: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
}

.primary {
  background: var(--primary-color);
  color: var(--inverted-bg-color);
}

.secondary {
  background: var(--secondary-color);
  color: var(--inverted-bg-color);
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
}

.medium {
  padding: calc(var(--space-m) / 2) var(--space-m);
  font: var(--font-m);
}

.small {
  padding: calc(var(--space-s) / 2) var(--space-s);
  font: var(--font-s);
}

.large {
  padding: calc(var(--space-l) / 2) var(--space-l);
  font: var(--font-l);
}
