.app.dark {
  --bg-color: #121212;
  --inverted-bg-color: #ffffff;

  --primary-color: #4f9dff;
  --secondary-color: #bb86fc;
  --inverted-primary-color: #1a73e8;
  --inverted-secondary-color: #e91e63;
}
