.app.light {
  --bg-color: #fff;
  --inverted-bg-color: #121212;
  --primary-color: #1a73e8;
  --secondary-color: #e91e63;
  --inverted-primary-color: #4f9dff;
  --inverted-secondary-color: #bb86fc;
}
